:root {
  --border-radius: 12px;
  --logo-color: #5d5d6d;

  --text-dark: #737380;
  --text-dark-2: #41414d;
  --text-secondary: #617480;
  --selected-filter-text: #41414d;
  --shapes-dark: #09090a;
  --shapes: #dce2e5;
  --orange-low: #ffa585;

  --bg-primary: #f0f0f5;
  --bg-secondary: #f3f5f6;

  --exclude-color: #de3838;
  --shapes-light: #f5f5fa;

  --brand-blue: #115d8c;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
